nav ul {
  height: 70px;
}

nav ul li {
  height: inherit;
  display: inline-block;
  flex: 0 0;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:first-child {
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li:not(:last-child){
  margin-right: 20px;
  padding-top: 30px;
}

nav ul li:last-child {
  justify-content: flex-end;
  margin-right: 100px;
  float: right;
}

p {
  text-indent: 30px;
  text-align: justify;
}

.main-title {
  text-align: center;
}

.title {
  text-align: left;
}

.logo {
  float: left;
  margin-left: 30px;
  margin-right: 25px;
}

.brandHistory {
  text-indent: 30px;
  text-align: left;
}

.shortDefModel {
  text-indent: 30px;
  text-align: left;
}

.reviews {
  text-indent: 30px;
  text-align: left;
}

#table{
  margin-right: auto; 
  margin-left: auto;
}

caption::before {
  content: "Table#2 ";
}

table,
thead,
tbody {
  border: 3px solid teal;
  border-collapse: separate;
  width: 600px;
}

th,
tr,
td {
  border: 3px solid teal;
}

tbody td {
  text-align: center;
  font-weight: bold;
}

.address {
  text-align: center;
  float: left;
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  margin: 5px;
}

.contact {
  text-align: center;
  float: left ;
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  margin: 5px;
}

.author {
  text-align: center;
  float: left;
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  margin: 5px;
}
