* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* width: 33%; */
  width: 350px;
  height: 250px;
}

legend {
  font-size: 20px;
}

.text-field {
  display: flex;
}

.text-field_label {
  width: 100px;
}

.text-field_input {
  width: 200px;
}

.radio-button-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}

.radio-button_label {
  width: 100px;
}

.checkbox-input-label {
  margin-right: 50px;
}

.select-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}

.select-input_label {
  width: 120px;
}
.select-input_select {
  width: 120px;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 165px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 185px;
  margin: 0;
}

.button-block {
  display: flex;
  justify-content: center;
}

button {
  margin: 20px;
  width: 70px;
  font-size: 16px;
}
